<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- Logo / Website Name -->
<div th:fragment="headerBar">
  <div class="container mt-3">
    <h1 class="text-center fw-bold">Finance Tracker</h1>

    <!-- Navigation -->
    <div class="row mt-5">
      <!-- Home -->
      <div class="col-md-3">
        <a href="../start.html" class="text-decoration-none">
          <div class="card text-center navigation-box">
            <div class="card-body">
              <h5 class="card-title text-white"> Home </h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Income/Expenses -->
      <div class="col-md-3">
        <a href="../income-expenses.html" class="text-decoration-none">
          <div class="card text-center navigation-box">
            <div class="card-body">
              <h5 class="card-title text-white"> Income/Expenses </h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Budget -->
      <div class="col-md-3">
        <a href="../budget.html" class="text-decoration-none">
          <div class="card text-center navigation-box">
            <div class="card-body">
              <h5 class="card-title text-white"> Budget </h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Goal Tracker -->
      <div class="col-md-3">
<!--        <a href="goal-tracker.html" class="text-decoration-none">-->
          <div class="card text-center navigation-box">
            <div class="card-body">
              <h5 class="card-title text-white"> Goal Tracker </h5>
            </div>
          </div>
<!--        </a>-->
      </div>
    </div>
  </div>
</div>