.page-header {
    background-color: #82cbeb;
    border: 2px solid black;
    padding: 10px;
}

.navigation-box {
    background-color: #145f81;
}

.default-padding {
    padding: 10px;
}

.income-expenses-container {
    background-color: #82cbeb;
    border: 2px solid black;
    padding: 10px;
}

#summary-box {
    background-color: #0071c1;
    border: 2px solid black;
}

#income-box {
    background-color: #4ea72f;
    border: 2px solid black
}

#category-box {
    background-color: black;
    border: 2px solid black
}

#expenses-box {
    background-color: red;
    border: 2px solid black;
}

#summary-total {
    background-color: darkgray;
    border: 2px solid black;
    font-weight: bold;
    width: auto;
    padding-right: 0;
    padding-left: 0;
}
#dollar-span {
    background-color: darkgray;
    border: 2px solid black;
    font-weight: bold;
}

#wantsBlock {
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#needsBlock {
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#savingsBlock{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}


#budgetContainer h3 {
    position: relative;
    background-color: white;
    padding: 10px; /* Adjust padding as needed */
}

.center-container {
    display: flex;
    justify-content: center;
}
