.page-header {
    background-color: #82cbeb;
    border: 2px solid black;
    padding: 10px;
}

.navigation-box {
    background-color: #145f81;
}

.default-padding {
    padding: 10px;
}

.income-expenses-container {
    background-color: #82cbeb;
    border: 2px solid black;
    padding: 10px;
}

#summary-box {
    background-color: #0071c1;
}

#income-box {
    background-color: #4ea72f;
    border: 2px solid black
}

#expenses-box {
    background-color: red;
    border: 2px solid black;
}

#summary-total {
    background-color: darkgray;
    border: 2px solid black;
    font-weight: bold;
    width: auto;
    padding-right: 0;
    padding-left: 0;
}
#dollar-span {
    background-color: darkgray;
    border: 2px solid black;
    font-weight: bold;
}

#wantsBlock {
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#needsBlock {
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#savingsBlock{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#category1Box{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#category2Box{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#category3Box{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #82cbeb;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#budgetContainer h3 {
    position: relative;
    background-color: white;
    padding: 10px; /* Adjust padding as needed */
}

#categoryContainer h3 {
    position: relative;
    background-color: white;
    padding: 10px; /* Adjust padding as needed */
}

.center-container {
    display: flex;
    justify-content: center;
}

#fourBoxes1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two columns */
    grid-gap: 10px; /* Add spacing between boxes */
}

#fourBoxes2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two columns */
    grid-gap: 10px; /* Add spacing between boxes */
}

#fourBoxes3 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two columns */
    grid-gap: 10px; /* Add spacing between boxes */
}

.inner-box1 {
    background-color: cadetblue;
    border: 1px solid gray;
    padding: 10px;
}

.inner-box2 {
    background-color: tan;
    border: 1px solid gray;
    padding: 10px;
}

.inner-box3 {
    background-color: green;
    border: 1px solid gray;
    padding: 10px;
}

.inner-box4 {
    background-color: red;
    border: 1px solid gray;
    padding: 10px;
}

.money-label{
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
}
